@import "../../../../assets/variables";

.section-dashboard {
    width: 100%;
    height: 100%;
    background: $backgroundGradient;
    display: flex;
    flex-direction: row;

    @media all and (max-width: 768px) {
        transition: all 0.5s;
        width: calc(100% + 240px);
        transform: translateX(-240px);
    }

    &.menu-open {
        transform: translateX(0);
    }

    userlist {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}