@import "../../../../assets/variables";

.popup {
    width: 100%;
    height: 100%;
    background: rgba(229, 151, 75, 0.8);
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    z-index: 3;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all 1s;
    transition-delay: 1s;
    opacity: 1;

    &.visible {
        display: flex;
    }

    &.disappear {
        opacity: 0;
    }

    .popup-wrap {
        width: 80%;
        max-width: 500px;
        transition: all 1s;
        transition-delay: 0.5s;
        opacity: 1;

        &.disappear {
            opacity: 0;
            transform: translateY(100%);
        }

        .text-wrap {
            background: $colourFontLight;
            color: $colourGradientStart;
            border-radius: 20px;
            text-align: center;
            padding: 20px;

            h1 {
                font-size: 1.6em;
                line-height: 1.2em;
                margin: 0;  
            }
    
            p {
                font-size: 1.2em;
            }
        }

        .button-wrap {
            padding: 10px 0; 
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            
            button {
                padding-right: 15px;

                &.butt-delete {
                    background: $colourGradientEnd;
                    border: 2px solid $colourGradientEnd;
                    width: 130px;
                    text-align: center;
                    margin-left: 10px;
                    line-height: 40px;

                    &:hover {
                        background: transparent;
                        color: $colourGradientEnd;
                        //padding-top: 2px;
                    }

                    &.processing, &.done {
                        color: rgba(0, 0, 0, 0);

                        &:hover {
                            color: rgba(0, 0, 0, 0);

                            .done { color: $colourGradientEnd; }
                        }
                    }

                    .processing {
                        height: 30px;
                        width: 30px;
                        position: absolute;
                        left: 0; right: 0;
                        top: 0; bottom: 0;
                        margin: auto;
                        background: url(/assets/img/loadyspin.svg) center center no-repeat;
                        background-size: 100%;
                    }

                    .done {
                        height: 30px;
                        width: 30px;
                        position: absolute;
                        left: 0; right: 0;
                        top: 0; bottom: 0;
                        margin: auto;
                        color: white;
                    }

                    
                }
            }

        }
        
    }
}