<section class="popup" [ngClass]="{'visible': showPopup}">

    <div class="popup-wrap">
        <div class="text-wrap" *ngIf="itemToDelete != undefined">
            <h1>Are you sure you want to delete the {{itemToDelete.type}} <strong>"{{itemToDelete.title}}"</strong>?</h1>
            <p>If you hit delete there's no way back! {{ (itemToDelete?.type == 'list') ? "It's" : "They're" }} gone for good! No take-backsies!</p>
        </div>
        <div class="button-wrap">
            <button class="butt-general butt-dismiss" (click)="dismissPopup()">No, I made a mistake!</button>
            <button class="butt-general butt-delete" (click)="deleteItem()" [ngClass]="{'processing': deleteStatus == 'processing', 'done': deleteStatus == 'done'}">
                <span *ngIf="deleteStatus == 'processing'" class="processing"></span>
                <i-feather name="check" class="icon done" *ngIf="deleteStatus == 'done'"></i-feather>
                DELETE!
            </button>
        </div>
    </div>

</section>