<loginheader (hidePage)="onHideTagline($event)" [fadeAway]="hideHeader"></loginheader>

<section class="section-register"> 
        
    <div class="content-wrap" [ngClass]="{ 'fadeOutUp': hideRegister || hideTagline, 'fadeInDown': !hideRegister && !hideTagline }">

        <h1>Register</h1>
        <p>Registering allows you to create and save multiple lists of people. We'll also keep track of who's been picked so they'll have less of a chance of being picked next time!</p>

        <form (ngSubmit)="register" [formGroup]="registerForm" [ngClass]="{'is-loading': isLoading}">

            <div class="error" (hidden)="showError" [ngClass]="{ 'toggleUp': showError }">
                <i-feather name="alert-circle" class="icon"></i-feather>
                <p>{{errorMessage}}</p>
            </div>
        
            <div class="input-wrap">
                <div class="field">
                    <label for="username">Username</label>
                    <input id="username" type="text" class="name" placeholder="username..." formControlName="name" (focus)="formFocus(true)" (blur)="formFocus(false)" maxlength="15"/>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="name" placeholder="email..." formControlName="email" (focus)="formFocus(true)" (blur)="formFocus(false)"/>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="password" placeholder="password..." formControlName="password" (focus)="formFocus(true)" (blur)="formFocus(false)"/>
                </div>
                <div class="field">
                    <label for="confirmpassword">Confirm Password</label>
                    <input id="confirmpassword" type="password" class="password" placeholder="confirm password..." formControlName="passwordConfirm" (focus)="formFocus(true)" (blur)="formFocus(false)"/>
                </div>
            </div>
    
            <button class="butt-general butt-register" (click)="register()" [disabled]="!registerForm.valid">Register!</button>
            <button class="butt-general butt-cancel" (click)="cancel()">Cancel</button>
       
        </form>
    
        <div class="loading-overlay" *ngIf="isLoading">
            <loadyspin></loadyspin>
        </div>

    </div>
    
</section>