@import "../../../../assets/variables";

.user {

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .intro {
        text-align: center;
    }

    .detail {
        max-width: 250px;
        margin: 0 auto;
    }
    
    .input-wrap {
        max-width: 250px;

        .field {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            border-bottom: 2px solid rgba(255,255,255,0.2);
            padding: 0 10px;
            
            .name, .password {
                font-size: 1.2em;
                font-weight: 600;
                color: $colourFontLight;
                font-family: $fontBody;
                width: 100%;
                background: transparent;
                border: none;
                outline: none;
                line-height: 40px;
                height: 40px;
                padding-top: 5px;

                &::-webkit-input-placeholder { color: rgba(255,255,255,0.2); }
            }

            button {
                display: none;
                color: $colourFontLight;
                padding: 0;

                &.visible {
                    display: block;
                }

                &.icon {
                    cursor: pointer;
                    transition: all 0.5s;
                    margin-top: 2px;
                    width: 24px;
                    height: 24px;
                    min-width: 24px;
        
                    &:hover { transform: scale(1.1); }

                    &.hidden { display: none; }
                }

            }

            .processing {
                height: 24px;
                width: 24px;
                background: url(/assets/img/loadyspin.svg) center center no-repeat;
                background-size: 130%;
            }
        }

    }
}