<loginheader (hidePage)="onHideTagline($event)" [fadeAway]="hideHeader"></loginheader>

<section class="section-login">

    <div class="content-wrap"
        [ngClass]="{ 'fadeOutUp': hideLogin || hideTagline, 'fadeInDown': !hideLogin && !hideTagline }">

        <h1>Login</h1>
        <p>Enter your details below to start picking!</p>

        <form (ngSubmit)="login" [formGroup]="loginForm" [ngClass]="{'is-loading': isLoading}">

            <div class="error" (hidden)="showError" [ngClass]="{ 'toggleUp': showError }">
                <i-feather name="alert-circle" class="icon"></i-feather>
                <p>{{errorMessage}}</p>
            </div>

            <div class="input-wrap">
                <div class="field">
                    <label for="email">Email</label>
                    <input #email id="email" type="email" class="name" placeholder="email..." formControlName="email" (focus)="formFocus(true)" (blur)="formFocus(false)"/>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input #password id="password" type="password" class="password" placeholder="password..." formControlName="password" (focus)="formFocus(true)" (blur)="formFocus(false)"/>
                </div>
            </div>

            <button type="submit" class="butt-general butt-register" (click)="login()" [disabled]="!loginForm.valid">Login!</button>
            <button class="butt-general butt-cancel" (click)="cancel()">Cancel</button>

            <div class="forgot-password">
                <a (click)="forgotPassword()">
                    I forgot my password!
                    <span class="underline"></span>
                </a>
            </div>
        
        </form>

        <div class="loading-overlay" *ngIf="isLoading">
            <loadyspin></loadyspin>
        </div>

    </div>

</section>