@import "../../../../assets/variables";
@import "../../../../assets/animation.fadeOutUp";

.section-login {
    width: 100%;
    height: 100%;
    background: $backgroundGradient;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content-wrap {
        max-width: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-duration: 1s;
        animation-fill-mode: both;

        &.fadeOutUp {
            animation-name: fadeOutUp;
        }

        &.fadeInDown {
            animation-name: fadeInDown;
        }
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
        margin: 0;
    }

    p {
        font-size: 1.125em;
    }

    .input-wrap {
        max-width: 250px;

        .field {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            border-bottom: 2px solid rgba(255,255,255,0.2);
            padding: 0 10px;
            
            .name, .password {
                font-size: 1.5em;
                font-weight: 600;
                color: $colourFontLight;
                font-family: $fontBody;
                width: 100%;
                background: transparent;
                border: none;
                outline: none;

                &::-webkit-input-placeholder { color: rgba(255,255,255,0.2); }
            }
        }

    }

    .butt-register {
        height: 50px;
        border: 2px solid white;
    }

    .butt-cancel {
        padding: 0 15px;
        margin: 20px 0;
        line-height: 40px;
    }
}