@import "../../../../assets/variables";

header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 0;
    z-index: 1;
    transition: 0.2s opacity;

    .login {
        border: none;
    }

    .login, .register {
        padding: 0 15px;
        margin-left: 10px;

        &:hover {
            color: $colourGradientEnd;
        }

    }

    &.fade-away {
        @media all and (max-width: 768px) {
            opacity: 0;
            pointer-events: none;
        }     
    }
    
}