@import "../../../../assets/variables";
@import "../../../../assets/animation.fadeOutUp";
@import "../../../../assets/animation.fadeOutUpMobile";
@import "../../../../assets/animation.moveUp";

.section-home {
    width: 100%;
    height: 100%;
    background: $backgroundGradient;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content-wrap {
        width: 100%;
        animation-duration: 1s;
        animation-fill-mode: both;

        &.fadeOutUp {
            animation-name: fadeOutUp;

            @media all and (max-width: 450px) {
                animation-name: fadeOutUpMobile;
            }
        }

    }

    .tagline-wrap {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 100px;
        animation-duration: 1s;
        animation-fill-mode: both;
        height: 150px;

        @media all and (max-width: 450px) {
            max-width: 90%;
            margin-bottom: 50px;
            height: auto;
        }

        h1 {
            font-family: $fontHeading;
            text-align: center;
            font-weight: normal;
            width: 100%;
            font-size: 4.5em;
            margin: 0;

            @media all and (max-width: 880px) {
                font-size: 8vw;
            }

            @media all and (max-width: 450px) {
                font-size: 10vw;
            }
        }

        .tagline {
            font-size: 2.25em;

            @media all and (max-width: 880px) {
                font-size: 4vw;
            }

            @media all and (max-width: 450px) {
                //font-size: 5vw;
                //margin-top: 5px;
                display: none;
            }
        }

        &.fadeOutUp {
            animation-name: fadeOutUp;
        }

        &.fadeInDown {
            animation-name: fadeInDown;
        }
    }

}