<loginheader (hidePage)="onHidePage($event)" [fadeAway]="hideTagline"></loginheader>
<section class="section-home"> 
    
    <div class="content-wrap" [ngClass]="{ 'fadeOutUp': hidePage }">
        
        <div class="tagline-wrap" [ngClass]="{ 'fadeOutUp': hideTagline, 'fadeInDown': !hideTagline }">
            <h1>who's making tea?</h1>
            <div class="tagline">The perfect tool for people picking</div>
        </div>

        <div class="picker-wrap">
            <picker (hideTagline)="onHideTagline($event)"></picker>
        </div>

    </div>
    
</section>
<button class="butt-about" (click)="showPopup()">?</button>
<aboutpop [showPopup]="showAboutPopup" (closePopup)="closePopup($event)"></aboutpop>