@import "../../../../assets/variables";
@import "../../../../assets/animation.fadeOut";

.picker-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    animation-duration: 1s;
    animation-fill-mode: both;

    &.fadeOut {
        animation-name: fadeOut;
    }
}

.picker {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (max-width: 450px) {
        width: 80%;
        margin: 0 auto;
    }
    
    .instructions {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;

        @media all and (max-width: 450px) {
            font-size: 1.2em;
        }
    }

    .people-wrap {
        width: 50%;
        max-width: 290px;
        margin-bottom: 20px;
        max-height: 30vh;
        position: relative;
        padding: 0 20px;

        @media all and (max-width: 450px) {
            width: 90%;
        }

        .person {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            border-bottom: 2px solid rgba(255,255,255,0.2);
            padding: 0 10px;
            
            .name {
                font-size: 1.5em;
                font-weight: 600;
                color: $colourFontLight;
                font-family: $fontBody;
                width: 100%;
                background: transparent;
                border: none;
                outline: none;

                &::-webkit-input-placeholder { color: rgba(255,255,255,0.2); }
            }

            .icon { 
                height: 24px;
                cursor: pointer;
                transition: all 0.5s;

                &:hover { transform: scale(1.1); }
            }
        }
    }

}

.selection-wrap {

    .selected-name {
        font-size: 5em;
        text-align: center;
        margin-bottom: 40px;
        height: 80px;
        line-height: 70px;
    }

    .button-wrap {
        width: 100%;
        margin: 0 auto;

        @media all and (max-width: 450px) {
            text-align: center;

            .butt-general:first-child {
                margin-bottom: 20px;
            }
        }
    }

}

loadyspin {
    height: 60px;
    width: 60px;
}

.hidden {
    display: none;
}