$colourGradientStart: #E5974B;
$colourGradientEnd: #CF4949;
$colourFontLight: #FFFFFF;
$colourError: #8E2323;

$backgroundGradient: linear-gradient(40deg, $colourGradientStart 0%, $colourGradientEnd 100%);


$fontHeading: 'Knewave', cursive;
$fontBody: 'Josefin Sans', sans-serif;