<loginheader (hidePage)="onHideTagline($event)" [fadeAway]="hideHeader"></loginheader>

<section class="section-lostpassword">

    <div class="content-wrap"
        [ngClass]="{ 'fadeOutUp': hideLogin || hideTagline, 'fadeInDown': !hideLogin && !hideTagline }">

        <h1>Forgot Password?</h1>
        <p>Oh no! Sorry you forgot your password! No worries, though! Enter your email address below and a password reset email will be sent straight to you!</p>

        <form (ngSubmit)="resetPassword" [formGroup]="lostPasswordForm" [ngClass]="{'is-loading': isLoading}">

            <div class="error" (hidden)="showError" [ngClass]="{ 'toggleUp': showError }">
                <i-feather name="alert-circle" class="icon"></i-feather>
                <p>{{errorMessage}}</p>
            </div>

            <div class="success" (hidden)="showSuccess" [ngClass]="{ 'toggleUp': showSuccess }">
                <i-feather name="smile" class="icon"></i-feather>
                <p>{{successMessage}}</p>
            </div>

            <div class="input-wrap">
                <div class="field">
                    <input #email type="email" class="name" placeholder="email..." formControlName="email" (focus)="formFocus(true)" (blur)="formFocus(false)"/>
                </div>
            </div>

            <button type="submit" class="butt-general butt-register" (click)="resetPassword()" [disabled]="!lostPasswordForm.valid">Reset my password!</button>
            <button class="butt-general butt-cancel" (click)="cancel()">Cancel</button>
        
        </form>

        <div class="loading-overlay" *ngIf="isLoading">
            <loadyspin></loadyspin>
        </div>

    </div>

</section>