<section class="userlist">
    <i-feather name="menu" class="icon ico-menu" (click)="toggleMenu()"></i-feather>

    <div class="intro-text">
        <p class="no-users-text">{{instructionMessage}}</p>
        <p class="rounds-made-text" [hidden]="noLists == true" [ngClass]="{'hidden': hideList || noPeople}">You guys have made {{selectedList?.totalRuns}} rounds! Keep it up!</p>
        <div class="error" (hidden)="showError" [ngClass]="{ 'toggleUp': showError }"><i-alert-circle class="icon"></i-alert-circle><p>{{errorMessage}}</p></div>
    </div>

    <div class="list-wrap" [ngClass]="{'hidden': hideList}">

        <div class="users-wrap" [perfectScrollbar]>

            <div class="user" *ngFor="let user of currentParticipants; let i = index" [ngClass]="{'deselected': !user.selected}">
                <div class="teasmade-graph" [ngStyle]="{'width': calculateWidth(i)}"></div>
                <div class="user-deets">
                    <i-feather name="check-circle" class="icon" [ngClass]="{'hidden': !user.selected}" [hidden]="!user.selected" (click)="togglePerson(i)"></i-feather>
                    <i-feather name="circle" class="icon" [ngClass]="{'hidden': user.selected}" [hidden]="user.selected" (click)="togglePerson(i)"></i-feather>
                    <input type="text" class="name" [(ngModel)]="user.name" (blur)="updateParticipant(i)" #input /> 
                    <span class="user-stats">
                        <div class="stats">drunk: {{user.drank}}</div>
                        <div class="stats">made: {{user.made}}</div>
                    </span>
                    <i-feather name="x-circle" class="icon" (click)="deleteParticipant(i)"></i-feather>
                </div>
            </div>

        </div>
        
        <button class="butt-add butt-general" (click)="addParticipant()" [hidden]="!addVisible">Add <i-feather name="plus-circle" class="icon"></i-feather></button> 
        <button class="butt-pick butt-general toggleUp" (click)="pickParticipant()" [disabled]="pickPersonDisabled" [hidden]="!pickPersonVisible">Pick!</button>

    </div>

    <popup-new [itemToDelete]="itemToDelete" [showPopup]="showDeletePopup" (closePopup)="closePopup($event)" (participantDeletionComplete)="removeParticipant($event)"></popup-new>

    
</section>